<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 적용 -->
    </settings>

    <typeAliases>
        <typeAlias type="com.example.back.entity.Book" alias="book"/> <!-- Book클래스 alias 등록 -->
        <typeAlias type="com.spring.jpa_mybatis.entity.Order" alias="order"/> <!-- Person클래스 alias 등록 -->
        <typeAlias type="com.example.hong.dto.OrderItemDto" alias="OrderItemDto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/bookmapper.xml" /> <!-- book 매퍼 등록 -->
        <mapper resource="mapper/ordermapper.xml" /> <!-- person 매퍼 등록 -->
        <mapper resource="mapper/itemmapper.xml" />
    </mappers>
</configuration>