<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 적용 -->
    </settings>

    <typeAliases>
        <typeAlias type="com.example.back.dto.ProductDto" alias="ProductDto"/>
        <typeAlias type="com.example.back.dto.BoardDto" alias="BoardDto"/>
        <typeAlias type="com.example.back.dto.UserInfoDto" alias="UserInfoDto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/productmapper.xml" />
        <mapper resource="mapper/boardmapper.xml" />
        <mapper resource="mapper/userInfomapper.xml" />
    </mappers>
</configuration>