<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.CommentMapper">

    <!-- 댓글 조회 -->
    <select id="selectComment" resultType="hashmap">
        SELECT c.contents, u.nickname, c.update_time
        FROM board b
        INNER JOIN comment c ON b.board_id = c.board_id
        INNER JOIN user u ON u.user_id = c.user_id
        WHERE b.board_id = #{id};
    </select>

    <!-- 댓글 추가 -->
    <insert id="createComment">
        INSERT INTO comment ( reg_time
        , update_time
        , cmlayer
        , comment_group
        , contents
        , status
        , board_id
        , user_id
        )
        VALUES ( now()
        , now()
        , 0
        , COALESCE((SELECT MAX(a.comment_group) FROM comment a WHERE board_id = #{Com.board}), -1) + 1
        , #{Com.contents}
        , 'Y'
        , #{Com.board}
        , #{Pri.id}
        )
    </insert>

    <!-- 대댓글 추가 -->
    <insert id="createReplyComment">
        INSERT INTO comment ( reg_time
        , update_time
        , cmlayer
        , comment_group
        , contents
        , status
        , board_id
        , user_id
        )
        VALUES ( now()
        , now()
        , IF((SELECT MIN(a.cmlayer) FROM comment a WHERE board_id = #{Com.board}) = 0
            , (SELECT MAX(a.cmlayer) FROM comment a WHERE board_id = #{Com.board} AND comment_group = #{Com.commentGroup}) + 1
            , NULL)
        , #{Com.commentGroup}
        , #{Com.contents}
        , 'Y'
        , #{Com.board}
        , #{Pri.id}
        )
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        UPDATE comment
           SET contents = #{contents},
               update_time = now()
         WHERE comment_id = #{id}
    </update>

    <!-- 댓글 삭제 -->
    <update id="deleteComment">
        UPDATE comment
           SET status = "N"
         WHERE IF((SELECT b.cmlayer FROM (SELECT a.cmlayer FROM comment a WHERE a.comment_id = #{id}) AS b) = 0
                    , comment_group = (SELECT b.comment_group FROM (SELECT a.comment_group FROM comment a WHERE a.comment_id = #{id}) AS b)
                    , comment_id = #{id});
    </update>

</mapper>