<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.CommentMapper">

    <!-- 댓글 조회 -->
    <insert id="selectComment">
        SELECT c.contents, c.update_time, c.cmlayer, c.comment_croup, u.nickname, b.board_id
        FROM comment c
        INNER JOIN board b on c.board_id = b.board_id
        INNER JOIN user u on b.user_id = u.user_id
        WHERE c.board_id = #{id};
    </insert>

    <!-- 댓글 추가 -->
    <insert id="createComment">
        INSERT INTO comment(reg_time, update_time, cmlayer, comment_croup, contents, status)
             VALUES (now(), now(), 0, #{comment_croup}, #{contents}, "Y")
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment">
        UPDATE comment
           SET contents = #{contents},
               update_time = now()
         WHERE comment_id = #{id}
    </update>

    <!-- 댓글 삭제 -->
    <update id="deleteComment">
        UPDATE comment
           SET status = "N"
         WHERE comment_id = #{id}
    </update>

</mapper>