<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.PurchaseHistoryMapper">

    <!-- 구매 이력 추가 -->
    <insert id="createPurchaseHistory" parameterType="PurchaseHistoryDto" >
        INSERT INTO purchase_history (reg_time, update_time, status, product_id, user_id)
        SELECT  NOW(), NOW(), p.status, #{purchaseHistoryDto.productId}, #{userId}
        FROM product p
        WHERE p.product_id = #{purchaseHistoryDto.productId}
    </insert>

    <!-- 구매 이력 목록 조회 -->
    <select id="purchaseHistories" resultType="HashMap">
        SELECT ph.purchase_history_id, p.pd_title, p.pd_contents, p.price
        FROM purchase_history ph
        INNER JOIN product p ON ph.product_id = p.product_id
        ORDER BY ph.purchase_history_id;
    </select>

    <!-- 구매 이력 상세 조회 -->
    <select id="selectPurchaseHistoryDetail" resultType="HashMap" parameterType="Long">
        SELECT ph.purchase_history_id, p.pd_category, p.pd_title, p.pd_contents, p.price, u.nickname
        FROM purchase_history ph
        INNER JOIN product p ON ph.product_id = p.product_id
        INNER JOIN user u ON ph.user_id = u.user_id
        WHERE ph.purchase_history_id = #{purchaseId};
    </select>

    <!-- 구매 이력 수정 필요 없음-->
<!--    <update id="updateTopic" parameterType="TopicDto">-->
<!--        UPDATE topic-->
<!--        SET topic_name = #{topicName},-->
<!--            update_time = now()-->
<!--        WHERE select_product_id = #{id}-->
<!--    </update>-->

    <!-- 구매 이력 삭제 -->
    <delete id="deletePurchaseHistory" parameterType="Long">
        DELETE FROM purchase_history
        WHERE purchase_history_id = #{purchaseId}
    </delete>


</mapper>