<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.TopicMapper">

    <!-- 관심 주제 추가 -->
    <insert id="createTopic" parameterType="TopicDto">
        INSERT INTO topic (reg_time, update_time, status, topic_name)
        VALUES (now(), now(), "Y", #{topicName})
    </insert>

    <!-- 관심 주제 목록 조회 -->
    <select id="selectTopicList" resultType="HashMap">
        SELECT topic_name, status
        FROM topic
    </select>

    <!-- 관심 주제 상세 조회 -->
    <select id="selectTopicDetail" resultType="HashMap" parameterType="Long">
        SELECT *
        FROM topic
        WHERE select_product_id = #{selectProductId}
    </select>

    <!-- 관심 주제 수정 -->
    <update id="updateTopic" parameterType="TopicDto">
        UPDATE topic
            SET topic_name = #{topicName},
                update_time = now()
        WHERE select_product_id = #{id}
    </update>

    <!-- 관심 주제 삭제 -->
    <delete id="deleteTopic" parameterType="Long">
        DELETE FROM topic
        WHERE select_product_id = #{selectProductId}
    </delete>


</mapper>